%h1
  Schedule 
  =precede '#' do
    =@schedule.id

:javascript
  jQuery(document).ready(function(){
    $('a[rel*=facybox]').facybox();
  });


%table.table
  %thead
    %tr
      %th
        \#
      %th
        Paid?
      %th
        Due Date
      %th
        Amount
      %th
  -@schedule.payments.all.each_with_index do |p, index|
    %tr
      %td
        =index + 1
      %td
        =check_box_tag "estimated_payment_#{p.id}"      
      %td
        =content_tag(:span, format_date(p.due_at), :class => 'date', :title => p.due_at)
      %td
        =p.amount.round(2)
      %td
        =link_to content_tag(:span, 'override amount', :class => 'pseudolink__value'), override_estimated_amount_schedule_payment_path(@schedule, p), :class => 'pseudolink', :rel => 'facybox'
  